  <div class="wrapper ts">
    <h2 class="page-subject ts">Message Board</h2>    
    
    <form role="form" ng-submit="editPost()" ng-init="getPost()">
      
      <label for="msg-subject">EDIT</label>
      
      <input ng-model="member.title" type="text" id="msg-subject" placeholder="title" class="ts" required ng-model="member.title">
      
      <textarea ng-model="member.body" name="" id="" cols="30" rows="10" placeholder="Write here &#9786;" required ng-model="member.body"></textarea>
      
      <span class="input-group-btn">
        <input type="submit" value="Post" class="btn btn-primary">
      </span>
    
    </form>  
  </div> <!--[end] wrapper-->
